<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
  

  <!-- Main Content -->
  <main class="container">
   
      <h1 class="display-4 text-center mt-5"><%= title %> </h1>
      
    
  </main>
  <div class="d-flex flex-column align-items-center mt-5">
   <p class="w-50 text-justify">
    Telematic Engineer with over 6 years of experience in the IT industry, I have worked for startups and big companies in the US and UK market. 
    I started my career as an analyst in the network operation center where main responsibilities were to detect and troubleshoot servers, network, and software problems. Furthermore, I have used my expertise
    in the field to provide guidance to IT recruiter with no experience in the field. In the last year I've been focus on redirect my career in the software deveopment ecosystem. 
   </p>
</div>
<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>
  




