<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
  

  <!-- Main Content -->
  <main class="container">
   
      <h1 class="display-4 text-center"><%= title %> </h1>
      
    
  </main>
  <body class="w-100 "> 
    <div class="d-flex flow-column justify-content-center align-items-center justify-content-around">
  <div class="card " style="width: 18rem;">
  
    <img src="https://us.123rf.com/450wm/asetrova/asetrova1709/asetrova170900095/86147094-hand-drawn-word-about-me.jpg?ver=6" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    >
    </div>
  </div>
  <div class="card" style="width: 18rem;">
  
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSdjlB7TM2-0Y0Bz8p7mLvoPRLiPnEomgFDl71PgMHtIkWC10Yn-vw1TwdzZYThu5m6irg&usqp=CAU" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    >
    </div>
  </div>
  </div>
  
<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>
  




