<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
  

  <!-- Main Content -->
  <main class="container">
   
      <h1 class="display-4 text-center mt-5"><%= title %> </h1>
      
    <h4 class="text-center">My main goal is to use the best practices to develop reliable and efficient solutions</h4>
  </main>
  <body class="w-100 vh-100"> 
    <div class="d-flex flow-column justify-content-center align-items-center justify-content-around h-50">
  <div class="card bg-light" style="width: 18rem;">
  

    <div class="card-body">
      <h5 class="card-title">About me</h5>
      <p class="card-text">Telematic Engineer with 7 years of experience in the IT industry ...</p>
      <a href="/about" class="btn btn-primary">Go for more details</a>
    
    </div>
  </div>
  <div class="card bg-light" style="width: 18rem;">
  
    <div class="card-body">
      <h5 class="card-title">Projects</h5>
      <p class="card-text">I have worked with different development projects using Javascript, re... </p>
      <a href="/project" class="btn btn-primary">Go for more details</a>
    
    </div>
  </div>
  <div class="card bg-light" style="width: 18rem;">
  
    
    <div class="card-body">
      <h5 class="card-title">Services</h5>
      <p class="card-text">Create complex software solution, including mobile and web applications ...</p>
      <a href="/services" class="btn btn-primary">Go for more details</a>
    
    </div>
  </div>
  </div>
  
<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>
  




