<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
  

  <!-- Main Content -->
  <main class="container">
   
      <h1 class="display-4 text-center mt-5"><%= title %> </h1>
      
    
  </main>
  <div class="d-flex flex-column align-items-center mt-5 mb-5 ">
      <h4>Network Discovery Hopping</h4>
       <p class="w-50 text-justify pb-5 ">
        Network Discovery Hopping is an automated network diagram and discovery tool operating at Layer 2 of the OSI model, 
        helping network administrators visualize their entire network infrastructure in minutes. This solution was developed 
        using python and does not require installation in any of the network devices which is a great advantage over other similar 
        solution that need to be installed in all the network devices or special configuration. NDH just requires access to the network 
        using a PC and, it will start scanning the IP address of all the interfaces and creating the diagram based this data. 
       </p>

       <h4>Advertising platforms</h4>
       <p class="w-50 text-justify pb-5">
        In this project I worked as a Front-End engineers for the development of an advertising solution using javascript, Node and React. The purpose of this project 
        is to help our customer to advertise to their clients or communicate with them.
       </p>

       <h4>Solar Energy Efficiency System</h4>
       <p class="w-50 text-justify pb-5">
        This application controlled the movements of a solar panel through an Arduino Uno and 
        two stepper motors (vertical direction and another for horizontal), to place the panel in the direction of the sun and obtain 
        a greater concentration of light intensity on the panel, how did you do it? It used the voltage levels obtained from four photoresistors 
        placed at the different cardinal points with respect to the center of the panel, to calculate the direction with the highest light intensity 
        and move the motors step by step. In addition, the software from the current time determined the position in which the panel 
        should be placed at a certain time in case the information of the phototransistors is determined that it is not within the ranges.
       </p>
</div>
<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>
  




