<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
  

  <!-- Main Content -->
  <main class="container">
   
      <h1 class="display-4 text-center mt-5"><%= title %> </h1>
      
    
  </main>
  
  <div class="d-flex flex-column align-items-center mt-5 ">
<ul class="list-group list-group-flush w-50 text-justify">
    <li class="list-group-item"> Create complex software solution, including mobile and web applications.</li>
    <li class="list-group-item">Responsive Web Design</li>
    <li class="list-group-item"> dynamic web page content </li> 
  </ul>
  
</div>


<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>
  




